---
layout: default
---
<div class='post'>
  <article>
    <embed
      src='{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}'
      width='100%'
      height='1200px'
      type='application/pdf'
    >
  </article>
</div>
